# Directories

.vs/
bin/
bin-Int/

# Files

*.user
Caramel/lib/framework.lib
Caramel/lib/framework.pdb
Framework/framework/obj/Utilities.obj
Framework/framework/obj/gl_core_4_4.obj
Framework/framework/obj/Gizmos.obj
Framework/framework/obj/framework.tlog/Lib.command.1.tlog
Framework/framework/obj/framework.tlog/Lib-link.write.1.tlog
Framework/framework/obj/framework.tlog/Lib-link.read.1.tlog
Framework/framework/obj/framework.tlog/framework.lastbuildstate
Framework/framework/obj/framework.tlog/CL.write.1.tlog
Framework/framework/obj/framework.tlog/CL.read.1.tlog
Framework/framework/obj/framework.tlog/CL.command.1.tlog
Framework/framework/obj/framework.pdb
Framework/framework/obj/framework.log
Framework/framework/obj/framework.idb
Framework/framework/obj/Error.obj
Framework/framework/obj/Application.obj
Caramel/lib/framework.lib
Caramel/lib/framework.pdb
