# Directories

.vs/
bin/
bin-Int/

# Files

*.user
Caramel/lib/framework.lib
Caramel/lib/framework.pdb
Framework/framework/obj/Utilities.obj
Framework/framework/obj/gl_core_4_4.obj
Framework/framework/obj/Gizmos.obj
Framework/framework/obj/framework.tlog/Lib.command.1.tlog
Framework/framework/obj/framework.tlog/Lib-link.write.1.tlog
Framework/framework/obj/framework.tlog/Lib-link.read.1.tlog
Framework/framework/obj/framework.tlog/framework.lastbuildstate
Framework/framework/obj/framework.tlog/CL.write.1.tlog
Framework/framework/obj/framework.tlog/CL.read.1.tlog
Framework/framework/obj/framework.tlog/CL.command.1.tlog
Framework/framework/obj/framework.pdb
Framework/framework/obj/framework.log
Framework/framework/obj/framework.idb
Framework/framework/obj/Error.obj
Framework/framework/obj/Application.obj
Caramel/lib/framework.lib
Caramel/lib/framework.pdb
Framework/obj/Application.obj
Framework/obj/framework.idb
Framework/obj/framework.log
Framework/obj/framework.pdb
Framework/obj/framework.tlog/CL.command.1.tlog
Framework/obj/framework.tlog/CL.read.1.tlog
Framework/obj/framework.tlog/CL.write.1.tlog
Framework/obj/framework.tlog/framework.lastbuildstate
Framework/obj/framework.tlog/Lib-link.read.1.tlog
Framework/obj/framework.tlog/Lib-link.write.1.tlog
Framework/obj/framework.tlog/Lib.command.1.tlog
Framework/obj/Gizmos.obj
Framework/obj/glad.obj
Framework/obj/Utilities.obj
Framework/obj/Application.obj
Framework/obj/framework.idb
Framework/obj/framework.log
Framework/obj/framework.pdb
Framework/obj/framework.tlog/CL.command.1.tlog
Framework/obj/framework.tlog/CL.read.1.tlog
Framework/obj/framework.tlog/CL.write.1.tlog
Framework/obj/framework.tlog/framework.lastbuildstate
Framework/obj/framework.tlog/Lib-link.read.1.tlog
Framework/obj/framework.tlog/Lib-link.write.1.tlog
Framework/obj/framework.tlog/Lib.command.1.tlog
Framework/obj/Gizmos.obj
Framework/obj/glad.obj
Framework/obj/Utilities.obj
Framework/obj/Utilities.obj
Framework/obj/imgui_impl_opengl3.obj
Framework/obj/imgui_impl_glfw.obj
Framework/obj/glad.obj
Framework/obj/Gizmos.obj
Framework/obj/framework.tlog/Lib.command.1.tlog
Framework/obj/framework.tlog/Lib-link.write.1.tlog
Framework/obj/framework.tlog/Lib-link.read.1.tlog
Framework/obj/framework.tlog/framework.lastbuildstate
Framework/obj/framework.tlog/CL.write.1.tlog
Framework/obj/framework.tlog/CL.read.1.tlog
Framework/obj/framework.tlog/CL.command.1.tlog
Framework/obj/framework.pdb
Framework/obj/framework.log
Framework/obj/framework.idb
Framework/obj/framework.Build.CppClean.log
Framework/obj/Application.obj
*.obj
*.tlog
*.lastbuildstate
*.pdb
*.log
Framework/obj/framework.tlog/CL.write.1.tlog
Framework/obj/framework.tlog/CL.read.1.tlog
Framework/obj/framework.tlog/CL.command.1.tlog
Framework/obj/framework.pdb
Framework/obj/framework.log
Framework/obj/framework.idb
Framework/obj/Application.obj
Caramel/lib/framework.lib
Caramel/lib/framework.pdb
Framework/obj/framework.log
Caramel/lib/framework.lib
Caramel/lib/framework.pdb
Framework/obj/Application.obj
Framework/obj/framework.idb
Framework/obj/framework.log
Framework/obj/framework.pdb
Framework/obj/framework.tlog/CL.command.1.tlog
Framework/obj/framework.tlog/CL.read.1.tlog
Framework/obj/framework.tlog/CL.write.1.tlog
Framework/obj/framework.tlog/framework.lastbuildstate
Framework/obj/framework.tlog/Lib-link.read.1.tlog
Framework/obj/framework.tlog/Lib-link.write.1.tlog
Framework/obj/framework.tlog/Lib.command.1.tlog
Framework/obj/Gizmos.obj
Framework/obj/glad.obj
Framework/obj/imgui_impl_glfw.obj
Framework/obj/imgui_impl_opengl3.obj
Framework/obj/Utilities.obj
