[submodule "Caramel/Vendor/spdlog"]
	path = Caramel/Vendor/spdlog
	url = https://github.com/Karamu98/spdlog.git
[submodule "Caramel/Vendor/glfw"]
	path = Caramel/Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Caramel/Vendor/imgui"]
	path = Caramel/Vendor/imgui
	url = https://github.com/Karamu98/imgui.git
[submodule "Caramel/Vendor/stb"]
	path = Caramel/Vendor/stb
	url = https://github.com/Karamu98/stb.git
[submodule "Caramel/Vendor/assimp"]
	path = Caramel/Vendor/assimp
	url = https://github.com/Karamu98/assimp.git
[submodule "Caramel/Vendor/JoltPhysics"]
	path = Caramel/Vendor/JoltPhysics
	url = https://github.com/Karamu98/JoltPhysics.git
[submodule "Caramel/Vendor/glm"]
	path = Caramel/Vendor/glm
	url = https://github.com/Karamu98/glm.git
